.background-color {
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: -12;
}

.grid-overlay {
  position: absolute;
  background-size: 100vw 100vh;
  background-position: center;
  width: 100vw;
  height: 100vh;
  opacity: 0.2;
  z-index: -10;
}

.gradient-upper-left {
  position: absolute;
  top: -1400px;
  left: -1500px;
  width: 3000px;
  height: 3000px;
  opacity: 0.5;
  background-image: radial-gradient(
    circle 700px,
    #189bf3ce,
    #0099ffaf 25%,
    #00aeff65 50%,
    #00ccff1a 75%,
    #11b8e200
  );
  z-index: -11;
}

.gradient-upper-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100px;
  background-color: red;
  z-index: -9;
}
s .gradient-lower-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: green;
  z-index: -8;
}

.gradient-lower-right {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -500px;
  right: -600px;
  width: 1200px;
  height: 1200px;
  opacity: 0.5;
  background-image: radial-gradient(
    circle 500px,
    #00ff6ace,
    #00ff6aa1 25%,
    #00ff6a57 50%,
    #00ff6a27 75%,
    #11b8e200
  );
  z-index: -10;
}
