.container {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  gap: 0px 20px;
  cursor: pointer;
}
.container:hover .title {
  color: var(--highlight-color);
}
.title {
  font-size: 60px;
  font-weight: 100;
  transition: color 0.3s ease;
}
.sub-title {
  color: var(--highlight-color);
  letter-spacing: var(--letter-spacing-big);
  line-height: 20px;
  font-weight: 200;
  font-size: 13px;
}

.titleContainer {
  display: flex;
  gap: 15px;
  flex-direction: column;
  overflow: hidden;
  container-type: inline-size;
  container-name: my-container;
}
