.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
}
.name {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 0.05rem;
  margin-left: 12px;
  white-space: nowrap;
  overflow: visible;
  text-overflow: clip;
}
.sub-title {
  color: var(--highlight-color);
  letter-spacing: var(--letter-spacing-big);
  margin-left: 16px;
}
