.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 240px;
  z-index: 100;
}
.name {
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 0.05rem;
  margin-left: 12px;
  white-space: nowrap;
  overflow: visible;
  text-overflow: clip;
}
.sub-title {
  color: var(--highlight-color);
  letter-spacing: var(--letter-spacing-big);
  margin-left: 16px;
}
.projectNav {
  margin-left: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}
.projectNav.show {
  max-height: 50px;
  opacity: 1;
}
