.page-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.left-column {
  display: flex;
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  align-items: flex-end;
}
.center-column {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
}
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.mobile-container {
  position: relative;
  display: flex;
  height: 100%;
}
.phone-bars {
  position: absolute;
  right: 8vw;
  top: 49px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 80vh;
  width: 50px;
  overflow: hidden;
  z-index: 1000;
}
.phone-line {
  height: 1px;
  min-height: 1px;
  width: 8px;
  background-color: var(--faded-text-color);
}
.video {
  width: auto;
  height: 70vh;
}
.phone-case {
  position: absolute;
  background-image: url("../../assets/phone_frame.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(30%);
  height: 95vh;
  width: 91vh;
  pointer-events: none;
  z-index: 1;
}
.dotted:before {
  content: "";
  position: absolute;
  border-left: 4px dotted var(--faded-text-color);
  top: 11px;
  bottom: 35px;
  left: -3px;
}
.dotted {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.top-line {
  position: absolute;
  height: 1px;
  width: 25px;
  background-color: var(--faded-text-color);
  top: 6px;
  overflow: visible;
  left: -25px;
  z-index: 1;
}
.bottom-line {
  position: absolute;
  height: 1px;
  width: 25px;
  background-color: var(--faded-text-color);
  bottom: 54px;
  overflow: visible;
  left: -24px;
  z-index: 1;
}
.over-flow {
  overflow: visible;
  position: relative;
}
.title {
  position: absolute;
  top: -150px;
}
.sys-d-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 50%;
}
.sys-d-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: 2vw;
  top: 2vw;
}
