.container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.button:hover {
  border-bottom: 2px solid var(--highlight-color);
}

.button-text {
  font-size: 50px;
  font-weight: 100;
  position: relative;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.icon-wrapper {
  display: inline-block;
  color: rgb(211, 211, 211);
  vertical-align: middle;
  margin-left: 12px;
  margin-bottom: -1px;
  transition: color 0.3s ease;
}

.icon-size {
  font-size: 40px !important;
}

.button:hover .button-text,
.button:hover .icon-wrapper {
  color: var(--highlight-color);
}
