.container {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-top: 10px;
  gap: 0px 20px;
}
.title {
  font-size: 60px;
  font-weight: 100;
}
.sub-title {
  color: var(--highlight-color);
  letter-spacing: var(--letter-spacing-big);
  font-weight: 200;
  font-size: 13px;
}
