.container {
  position: relative;
  top: -40px;
  max-height: calc(100% + 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
.margin-container {
  width: 715px;
  height: 100%;
}
.spacer {
  height: 50px;
}

/* Override the scrollbar thumb */
:global(.simplebar-scrollbar:before) {
  background-color: black;
}

/* Override the scrollbar thumb when visible */
:global(.simplebar-scrollbar.simplebar-visible:before) {
  background-color: black;
}
