.app {
  width: 100%;
  min-width: 375px;
  height: 100%;
  overflow: hidden;
}
.border-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 6.5vh;
  padding-bottom: 6.5vh;
  z-index: 0;
}
.threeCols {
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.col-one {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
}
.col-one-top {
  height: 50%;
  width: 100%;
}
.col-one-bottom {
  height: 50%;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
}
.page-container {
  flex-basis: 75%;
  transition: opacity 0.3s ease-in-out;
  height: 100%;
  opacity: 1;
}
.fade-out {
  opacity: 0;
}
.fade-in {
  opacity: 1;
}
