@import "./variables.css";

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 100;
  font-size: 12px;
  font-optical-sizing: auto;
  color: white;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2,
h3,
h4,
h5 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
